body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper{
  position: absolute;
  top:0;
  left: 0;
  bottom:0;
  right:0;
}
.page-wrap>ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  height: 40px;
  align-items: center;
}
.page-wrap>ul>.active{
  
}
.content-wrap{
  position: absolute;
  top:40px;
  left: 0;
  bottom:0;
  right:0;
}
.content-wrap .react-swipeable-view-container{
  height:100%;
}
.content{
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding:1rem;
}

.content-1{
  background:#AD87EB;
}
.content-2{
  background:skyblue;
}

.content-3{
    background:#87EB94;
}